* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	background-color: #efefef;
}

.section-wrapper {
	min-height: 100vh;
	border-bottom: 1px solid #aaaaaa;
	margin-bottom: 5%;
}



/* Landing page */
.hero-image img {
	max-width: 100%;
	max-height: 33%;
	margin: 0 0 20% 0;
}

.content-wrapper {
	text-align: center;
	padding: 0 5%;
}

.content-wrapper h1 {
	font-size: 5em;
	margin-bottom: 5%;
	font-weight: normal;
}

h2 {
	font-size: 5em;
	font-weight: normal;
	margin-bottom: 10%;
}

.content-wrapper h3 {
	font-weight: normal;
	font-size: 3.5em;
	margin-bottom: 5%;
}

.content-wrapper p {
	font-size: 2.5em;
	margin-bottom: 5%;
}
/*************************/

/* About Us */
#aboutUs {
	padding: 0 5%;
}


/*************************/

/* Photo Flash */
.photo-flash {
	min-height: 75vh;
	position: relative;
	background-image: url("images/vineWall.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/*************************/

/* Header */
header {
	display: flex;
	justify-content: space-around;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: rgba(255,255,255, 1);
	border: 1px solid #eeeeee;
	padding: 5%;
}

header a {
	text-decoration: none;
	font-size: 2em;
	color: #111;
}
/***********************/