* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 100%;
	line-height: 1.6875;
	background-color: #efefef;
	font-family: 'Lato', sans-serif;
}


/* Section wrapper */
.section-wrapper {
	min-height: 100vh;
	border-bottom: 2px solid #D1B78F;
	margin-bottom: 5%;
	padding: 5% 7%;
	font-size: 1rem;
}
/***********************/

.get-address {
	text-align: center;
	min-height: 50vh;
}
.get-address a {
	display: inline-block;
	margin-top: 5%;
	font-size: 3rem;
}

/* Landing page */

.hero-image {
	display: inline-block;
	width: 100%;
	height: 50vh;
	background-image: url(images/vineWall.jpg);
	background-size: cover;
	background-position: center;
}

.content-wrapper {
	text-align: center;
	padding: 0 5%;
}

.content-wrapper h1 {
	font-family: 'Alex Brush', cursive;
	font-size: 4rem;
	font-weight: normal;
}

h2 {
	font-family: 'Alex Brush', cursive;
	font-size: 5rem;
	font-weight: normal;
	margin-bottom: 10%;
}

.content-wrapper span {
	font-weight: lighter;
	font-size: 3.5rem;
}

.content-wrapper p {
	font-size: 2.5rem;
	
}
/*************************/


.map-holder {
	margin: 5% 0;
	height: 50vh;
}

/*************************/

/* Photo Flash */
.photo-flash {
	min-height: 75vh;
	position: relative;
	background-image: url("images/vineWall.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/*************************/

/* Header */
header {
	min-height: 100vh;
	border-bottom: 2px solid #D1B78F;
}


nav {
	display: flex;
	justify-content: space-around;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: rgba(255,255,255, 1);
	padding: 3%;
	border-top: 3px solid #D1B78F;
}

nav a {
	text-decoration: none;
	font-size: 3rem;
	border-left: .5px solid #D1B78F;
	font-weight: lighter;
	padding: 1%;
	color: #111;
}
/***********************/

@media (min-width: 1200px) {

	nav {
		padding: 1%;
		display: none;
	}
}